.claimed {
    align-self: flex-start;
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.claimed > h3 {
    font-weight: 500;
}

.subnames-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
}

.subname-item {
    color: #495057;
    background-color: #f1f1f1;
    padding: 8px 12px;
    cursor: pointer;
}

.subname-item:hover {
    color: #212529;
    border-color: #868e96;
}