h1 {
    font-size: 24px;
    font-weight: 400;
}

.claim-input {
    height: 40px;
    width: 40%;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    border: 1px solid #ccc;
    padding: 0 16px;
}

.claim-input:focus {
    outline: none;
}

.claim-btn {
    height: 40px;
    padding: 0 24px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.newdomain-info {
    margin-top: 12px;
    height: 36px;
}

.valid {
    color: green;
}

.error {
    color: red;
}
