.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.full > h1 {
    margin-bottom: 16px;
    font-weight: 400;
}